body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,187,199,1) 0%, rgba(231,95,205,1) 66%, rgba(255,0,215,1) 100%);
}

.task-list {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 20px;
    
}

.status-container {
    background-color: rgb(241, 194, 234);
    height: fit-content;
}

.btn {
    background-color:rgb(215 57 200);
    border:none;
    color:white
}

.btn:active,
.btn:focus,
.btn:hover{
    background-color:rgb(150, 27, 137) ;
    box-shadow: none;
    color:white;
    border:none
}



